---
import { Icon } from 'astro-icon/components'

interface Props {
	class?: string
	links: string[]
	img: string
	title: string
	comment: string
	description: string
}

const { links, img, title, comment, description } = Astro.props
---

<div
	id="project"
	class={`border-y border-[#1E2D3D] w-full py-16 flex flex-col md:flex-row items-center md:gap-x-16`}>
	<div class="w-full flex-1 lg:flex-2">
		<img
			src={img}
			class="w-full h-56 md:h-72 object-center object-cover md:object-cover md:object-center rounded-md"
		/>
	</div>

	<div id="project-info" class="m-0 w-full flex-1 lg:flex-3">
		<p class="text-xl font-bold mt-6 md:mt-0 tracking-wide">{title}</p>
		<p class="comment mt-1">// {comment}</p>
		<p class="mt-2">
			{description}
		</p>
		<div class="flex mt-4 gap-y-2 gap-x-6 flex-wrap">
			{
				links?.length > 0 &&
					links.map((link) => (
						<div class="text-sm text-[#95AAFB]">
							<a href={link} class="flex cursor-pointer items-center">
								<span class="inline-flex h-6 w-6 items-center justify-center rounded-full bg-[#2A337E] shrink-0">
									{link.includes('https://github.com') ? (
										<Icon name="akar-icons:github-fill" class="h-4 w-4" />
									) : (
										<Icon name="akar-icons:link-chain" class="h-4 w-4" />
									)}
								</span>
								<span class="ml-3">
									{link.includes('https://github.com') ? 'GitHub' : 'Website'}
								</span>
							</a>
						</div>
					))
			}
		</div>
	</div>
</div>
