---
import { Sprite } from 'astro-icon';

interface Props {
  class?: string;
  right?: boolean;
  link?: string;
  img: string;
  title: string;
  comment: string;
  description: string;
}

const { right, link, img, title, comment, description } = Astro.props;

const flexDirection = right ? 'md:flex-row-reverse' : 'md:flex-row';
const padding = right ? 'md:pr-16' : 'md:pl-16';
---

<div
  id="project"
  class={`border-y border-[#1E2D3D] w-full py-16 flex flex-col ${flexDirection} items-center`}
>
  <!-- style="flex: 1;" -->
  <div class="w-full flex-1">
    <img
      src={img}
      class="w-full h-72 md:h-52 object-center object-cover md:object-cover md:object-center rounded-md"
    />
  </div>

  <div class={`m-0 ${padding} flex-2`}>
    <p class="text-xl font-bold mt-6">{title}</p>
    <p class="comment mt-1">// {comment}</p>
    <p class="mt-2">
      {description}
    </p>
    {
      link && (
        <div class="mt-2 text-sm text-[#95AAFB]">
          <a href={link} class="flex cursor-pointer items-center">
            <span class="inline-flex h-6 w-6 items-center justify-center rounded-full bg-[#2A337E]">
              <Sprite name="akar-icons:link-chain" class="h-4 w-4" />
            </span>
            <span class="ml-3">{link}</span>
          </a>
        </div>
      )
    }
  </div>
</div>
