---
import { Sprite } from 'astro-icon';

interface Props {
  right?: boolean;
  link?: string;
  img: string;
  title: string;
  comment: string;
  description: string;
}

const { right, link, img, title, comment, description } = Astro.props;

const flexDirection = right ? 'flex-row-reverse' : '';
const margin = right ? 'mr-16' : 'ml-16';
---

<div
  id="project"
  class={`border-y border-[#1E2D3D] w-full py-16 flex ${flexDirection} items-center`}
>
  <div class="h-64 rounded-md" style="flex: 1;">
    <img src={img} />
  </div>

  <div class={margin} style="flex: 2;">
    <p class="text-xl font-bold">{title}</p>
    <p class="comment mt-1">// {comment}</p>
    <p class="mt-2">
      {description}
    </p>
    {
      link && (
        <div class="mt-2 text-sm text-[#95AAFB]">
          <a href={link} class="flex cursor-pointer items-center">
            <span class="inline-flex h-6 w-6 items-center justify-center rounded-full bg-[#2A337E]">
              <Sprite name="akar-icons:link-chain" class="h-4 w-4" />
            </span>
            <span class="ml-3">{link}</span>
          </a>
        </div>
      )
    }
  </div>
</div>
