---
import { Sprite } from "astro-icon";

interface Props {
  class?: string;
  right?: boolean;
  link?: string;
  img: string;
  title: string;
  comment: string;
  description: string;
}

const { link, img, title, comment, description } = Astro.props;
---

<style>
  @media (min-width: 768px) {
    #project:nth-child(2n) {
      flex-direction: row-reverse;
    }

    #project:nth-child(2n) #project-info {
      padding-right: 4rem;
      padding-left: 0;
    }
  }
</style>
<div
  id="project"
  class={`border-y border-[#1E2D3D] w-full py-16 flex flex-col md:flex-row items-center`}
>
  <div class="w-full md:w-auto lg:flex-1">
    <img
      src={img}
      class="w-full h-56 lg:h-auto object-center object-cover md:object-cover md:object-center rounded-md"
    />
  </div>

  <div id="project-info" class="m-0 md:pl-16 flex-1 lg:flex-2 break-all">
    <p class="text-xl font-bold mt-6">{title}</p>
    <p class="comment mt-1">// {comment}</p>
    <p class="mt-2">
      {description}
    </p>
    {
      link && (
        <div class="mt-2 text-sm text-[#95AAFB]">
          <a href={link} class="flex cursor-pointer items-center">
            <span class="inline-flex h-6 w-6 items-center justify-center rounded-full bg-[#2A337E]">
              <Sprite name="akar-icons:link-chain" class="h-4 w-4" />
            </span>
            <span class="ml-3">{link}</span>
          </a>
        </div>
      )
    }
  </div>
</div>
