---
import type { MarkdownLayoutProps } from 'astro';
import ContactForm from '../components/ContactForm.astro';
import BaseLayout from './BaseLayout.astro';

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  author: string;
  date: string;
  img: string;
  description: string;
}>;

export type BlogProps = Props;

const { frontmatter, url } = Astro.props;
---

<head>
  <!-- <meta rel="canonical" href={new URL(url, Astro.site).pathname} /> -->
  <title>{frontmatter.title}</title>
</head>
<BaseLayout>
  <div class="sm:px-8 md:px-16 lg:px-32 xl:px-48">
    <h1 class="text-6xl">{frontmatter.title}</h1>
    <p class="mt-4">{frontmatter.description}</p>
    <p class="mt-6 text-sm">Written on: {frontmatter.date}</p>
    <p class="text-sm">Written by: {frontmatter.author}</p>
    <img
      src={frontmatter.img}
      class="rounded-md h-1/6 w-full object-cover mt-12 mb-20"
    />
    <div class="blog">
      <slot />

      <ContactForm />
    </div>
  </div>
  <!--   <ContactForm /> -->
</BaseLayout>
